<div class="container">
    <p class="text-center h1 text-dark py-5">CONSULTAR VALORES</p>
    <form>
        <div class="row">
            <div class="form-group col-12">
                <label for="nomeInput">Origem</label>
                <input type="text" placeholder="" class="form-control p-4">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-12">
                <label for="nomeInput">Destino</label>
                <input type="text" placeholder="" class="form-control p-4">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-12">
                <label for="nomeInput">Data de partida</label>
                <input type="text" placeholder="" class="form-control p-4">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-12">
                <label for="nomeInput">Data de volta</label>
                <input type="text" placeholder="" class="form-control p-4">
            </div>
        </div>
        <button type="button" class="btn btn-md text-light  mb-5" style="background-color: darkcyan;">Consultar</button>
    </form>
</div>